@model ETickets.ViewModel.CinemaVM

@{
    ViewData["Title"] = "CreateNew";
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- Include any external CSS files -->
    <link rel="stylesheet" href="/css/New.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-KYd0BKFip0N3ZWgJfKcxKz4VqOen+LeThInO+RE4BwZZ/zByMmZX5DvduBddajVoz/SqLxhGS+mra2TcdWVrsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body class="background" style="margin-top:110px;">
    <form method="post" action="/Cinema/SaveNew">
        <div class="form-group">
            <h4>
                <label for="Name-name" class="color">Name</label>
            </h4>
            <input type="text" class="form-control item-background w-50" asp-for="Name" placeholder="Enter Name">
            <span asp-validation-for="Name" class="text-danger"></span>
            <br />
            <h4>
                <label for="Description" class="color">Description</label>
            </h4>
            <input type="text" class="form-control item-background w-50" asp-for="Description" placeholder="Enter Description">
            <span asp-validation-for="Description" class="text-danger"></span>
            <br />
            <h4>
                <label for="Address" class="color">Address</label>
            </h4>
            <input type="text" class="form-control item-background w-50" asp-for="Address" placeholder="Enter Address">
            <span asp-validation-for="Address" class="text-danger"></span>
            <br />
            <h4>
                <label for="CinemaLogo" class="color">Cinema Logo</label>
            </h4>
            <input type="file" class="form-control item-background w-50" asp-for="CinemaLogo">
            <span asp-validation-for="CinemaLogo" class="text-danger"></span>
            <br />


            <button type="submit" class="btn btn-outline-light btn-background" id="submitBtn">Save</button>
    </form>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
